* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid orange; */
  ::-webkit-scrollbar {
    width: 0; /* Ancho de la barra de desplazamiento */
  }
}


:root {
  --main-purple: #635FC7;
  --main-purple-hover: #a8a4ff;
  --black: #000112;
  --very-dark-grey-dark-bg: #20212C;
  --dark-grey: #2b2c37;
  --lines-dark: #3e3f4e;
  --medium-grey: #828fa3;
  --lines-light: #e4ebfa;
  --light-grey-light-bg: #f4f7fd;
  --white: #FFF;
  --red: #EA5555;
  --red-hover: #FF9898;
}


body {
  position: relative;
}