@use "../media_queries" as mq;

.contenedor {
    height: 96px;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mq.mediaMobile() {
        display: none;
    }

    @include mq.mediaTablet() {
        height: 80px;
    }

    .logoTop {
        width: 300px;
        background-color: var(--white);
        border-right: 1px solid var(--lines-light);
        height: 96px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mq.mediaTablet() {
            width: 260px;
            min-width: 260px;
        }
    }

    .logoTop_dark {
        background-color: var(--dark-grey);
        border-right: 1px solid var(--lines-dark);
    }

    .platformLaunch {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }

    .text {
        color: var(--dark);
        font-size: 24px;
        font-weight: 700;
        text-transform: capitalize;
        @include mq.mediaTablet() {
            font-size: 20px;
        }
    }

    .addNewTask {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        position: relative;

        .buttonAddTask:disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
        .buttonAddTask {
            // opacity: 0.5;
            background-color: var(--main-purple);
            width: 164px;
            height: 48px;
            border: none;
            border-radius: 24px;
            font-size: 15px;
            font-weight: 700;
            color: var(--white);
            text-transform: capitalize;
            cursor: pointer;
            &:hover {
                background-color: var(--main-purple-hover);
            }
        }

        .verticalEllipsis:disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
        .verticalEllipsis {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            cursor: pointer;
            position: relative;
            background-color: inherit;
            border: none;

            &:hover {
                filter: drop-shadow(0 1px 5px rgba(0, 0, 0, 0.7));
            }
        }
    }
}

.contenedor_dark {
    background-color: var(--dark-grey);

    .text_dark {
        color: var(--white);
    }
}
