.newBoard {
    width: 90%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 20px;
    color: var(--medium-grey);
    font-weight: 700;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    &:hover {
        background-color: var(--lines-light);
    }
    &:hover > span {
        color: var(--main-purple);
    }

    .link {
        width: 100%;
        padding: 14px 0;
        height: max-content;
        text-decoration: none;
        
       

    }
   
    span {
        color: var(--medium-grey);
    }

}

.newBoard_active {
    background-color: var(--main-purple);

    &:hover {
        background-color: var(--main-purple);
    }
    &:hover > span {
        color: var(--white);
    }

    span {
        color: var(--white);
    }
}
