.itemSubtask {
    background-color: var(--light-grey-light-bg);
    border-radius: 4px;
    border: none;
    &:hover {
        background-color: rgba(99, 95, 199, 0.25);
    }

    .labelTask {
        cursor: pointer;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 10px;
        input {
            width: 16px;
            height: 16px;
        }

        .todoSpan {
            font-size: 12px;
            font-weight: 700;
            color: var(--black);
            text-align: start;
        }
        .todoSpan_done {
            opacity: 0.5;
            text-decoration-line: line-through;
        }
    }
}
.itemSubtask_dark {
    background-color: var(--very-dark-grey-dark-bg);

    .labelTask {
        .todoSpan {
            color: var(--white);
        }
    }
}
